<h3 class="app-heading"><i class="fa fa-info"></i> Dane klienta</h3>

<div class="app-item-info">
    <p><span>Imię i nazwisko:</span> <%= first_name %> <%= last_name %></p>
    <p><span>Data urodzenia::</span> <%= birthdate %></p>
    <p><span>Numer dowodu:</span> <%= idc_number %></p>
    <p><span>Adres:</span> <%= address %></p>
    <p><span>Kod pocztowy:</span> <%= zip_code %></p>
    <p><span>Miejscowość: </span> <%= city %></p>

    <button type="button" class="btn edit">Edytuj</button>
</div>