<% if(this.model.isNew()) { %>
<h3 class="app-heading"><i class="fa fa-plus"></i> Nowe wypożyczenie</h3>
<% } else { %>
<h3 class="app-heading"><i class="fa fa-edit"></i> Edycja wypożyczenia</h3>
<% } %>

<div class="app-form">
    <form action="" id="new-rent">
        <div class="app-form-field">
            <label for="ms-movie-id">Film</label>
            <input type="text" class="medium" id="ms-movie-id" placeholder="Wybierz film">
        </div>

        <div class="app-form-field">
            <label for="ms-client-id">Klient</label>
            <input type="text" class="medium" id="ms-client-id" placeholder="Wybierz klienta">
        </div>

        <div class="app-form-submit">
            <button type="submit" class="btn">Zapisz</button>
            <% if(!this.model.isNew()) { %>
            <button type="button" class="btn special delete">Zwróć</button>
            <% } %>
        </div>
    </form>
</div>