// ---------------------
//     COLORS
// ---------------------

    // *--------- GENERAL ---------*
    $generalBgColor: #fff;
    $generalDimmedBgColor: #f1f1f1;
    $generalSpecialColor: #ff503f;
    $generalBorderColor: #c8c8c8;
    $generalTextColor: #4b4b4b;
    $generalSpecialTextColor: #fff;

    // *--------- SIDEBAR ---------*
    $sidebarNavColor: #787878;
    $sidebarActiveNavColor: #fff;

    // *--------- TABS ---------*
    $tabsBorderColor: #d3d7da;
    $tabsBgColor: #f8f8f8;

    // *--------- MAIN PANEL ---------*
    $mainBgColor: #fff;
    $mainCounterColor: #fff;

    // *--------- FORMS ---------*
    $formInputTextColor: #9b9b9b;